@font-face {
    font-family: 'Kick Font';
    src: url('KickFont.woff2') format('woff2'),
        url('KickFont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kick';
    src: url('Kick.woff2') format('woff2'),
        url('Kick.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

